<h2> {{title}} </h2>

<app-user-get-started></app-user-get-started>

<app-view-description [view-description] ='view'></app-view-description>

<app-resource-unavailable *ngIf ='error' [error] ='error' ></app-resource-unavailable>

<app-notification-screen *ngIf ='notificationAvailable' [notified] ='notificationAvailable' [message] ='notificationMessage' (finished) ='removeNotification()'></app-notification-screen>

<div *ngIf ='user' id ='entry-update'>

<p *ngIf ='!formModified'> <b class ='bold'> Form Message : </b> {{formMessage}} </p>

	<div id ='entry-detail'>

		<form action ='' method ='post' enctype ='application/x-www-form-urlencoded' autocomplete ='off' [formGroup] ='userForm' (ngSubmit) ='updateUser(userForm.value)'>

			<div class ='form-group'>

				<label for ='firstName' class ='form-label bold'> First Name * : </label>

				<input type ='text' id ='firstName' name ='firstName' placeholder ='Yusuf' required ='required' autocomplete ='new-firstName' formControlName ='firstName' class ='form-control' 

				appCapitalize ='appCapitalize'>

				<app-user-validator *ngIf ='firstName' [firstName] ='firstName'></app-user-validator>

			</div>

			<div class ='form-group'>

				<label for ='lastName' class ='form-label bold'> Last Name * : </label>

				<input type ='text' id ='lastName' name ='lastName' placeholder ='Musa' required ='required' autocomplete ='new-lastName' formControlName ='lastName' class ='form-control'

				appCapitalize ='appCapitalize'>

				<app-user-validator *ngIf ='lastName' [lastName] ='lastName'></app-user-validator>

			</div>

			<div class ='form-group'>

				<label for ='username' class ='form-label bold'> Username * : </label>

				<input type ='text' id ='username' name ='username' placeholder ='adigun' required ='required' autocomplete ='new-username' formControlName ='username' class ='form-control'

				appLowercase ='appLowercase'>

				<app-user-validator *ngIf ='username' [username] ='username'></app-user-validator>

			</div>

			<div class ='form-group'>

				<label for ='emailAddress' class ='form-label bold'> Email Address * : </label>

				<input type ='text' id ='emailAddress' name ='emailAddress' placeholder ='david@example.com' required ='required' autocomplete ='new-emailAddress' formControlName ='emailAddress' 

				class ='form-control' appLowercase ='appLowercase'>

				<app-user-validator *ngIf ='emailAddress' [emailAddress] ='emailAddress'></app-user-validator>

			</div>

			<div class ='form-group'>

				<label for ='about' class ='form-label bold'> About * : </label>

				<textarea id ='about' name ='about' placeholder ='I am me' required ='required' formControlName ='about' class ='form-control form-textarea'></textarea>

				<app-user-validator *ngIf ='about' [about] ='about'></app-user-validator>

			</div>


			<ng-container *ngIf ='userOthers && userOthers?.faculties'>

			<div class ='form-group'>

				<label for ='faculty' class ='form-label bold'> Faculty * : </label>

				<select name ='faculty' id ='faculty' class ='form-control' required ='required' formControlName ='faculty'>

					<option [value] =''> </option> 

					<option *ngFor ='let faculty of userOthers.faculties' [value] ='faculty._id'> {{faculty._id}} </option> 

				</select>

				<app-user-validator *ngIf ='faculty' [faculty] ='faculty'></app-user-validator>

			</div>

		</ng-container>


			<ng-container *ngIf ='userOthers && userOthers?.departments && userOthers?.departments?.length'>

			<div class ='form-group'>

				<label for ='department' class ='form-label bold'> Department * : </label>

				<select name ='department' id ='department' class ='form-control' required ='required' formControlName ='department'>

					<option [value] =''> </option> 

					<option *ngFor ='let department of userOthers.departments' [value] ='department._id'> {{department._id}} </option> 

				</select>

				<app-user-validator *ngIf ='department' [department] ='department'></app-user-validator>

			</div>

		</ng-container>

		
			<ng-container *ngIf ='userOthers && userOthers?.levels && userOthers?.levels?.length'>

			<div class ='form-group'>

				<label for ='level' class ='form-label bold'> Level * : </label>

				<select name ='level' id ='level' class ='form-control' required ='required' formControlName ='level'>

					<option [value] =''> </option> 

					<option *ngFor ='let level of userOthers.levels' [value] ='level._id'> {{level._id}} </option> 

				</select>

				<app-user-validator *ngIf ='level' [level] ='level'></app-user-validator>

			</div>

		</ng-container>

		
			<ng-container *ngIf ='userOthers && userOthers?.countries && userOthers?.countries?.length'>

			<div class ='form-group'>

				<label for ='country' class ='form-label bold'> Country * : </label>

				<select name ='country' id ='country' class ='form-control' required ='required' formControlName ='country'>

					<option [value] =''> </option> 

					<option *ngFor ='let country of userOthers.countries' [value] ='country._id'> {{country._id}} </option> 

				</select>

				<app-user-validator *ngIf ='country' [country] ='country'></app-user-validator>

			</div>

		</ng-container>

		
			<ng-container *ngIf ='userOthers && userOthers?.units && userOthers?.units?.length'>

			<div class ='form-group'>

				<label for ='unit' class ='form-label bold'> Unit * : </label>

				<select name ='unit' id ='unit' class ='form-control' required ='required' formControlName ='unit'>

					<option [value] =''> </option> 

					<option *ngFor ='let unit of userOthers.units' [value] ='unit._id'> {{unit.name}} </option> 

				</select>

				<app-user-validator *ngIf ='unit' [unit] ='unit'></app-user-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='roles'>

			<div class ='form-group'>

				<label for ='role' class ='form-label bold'> Role * : </label>

				<select name ='role' id ='role' class ='form-control' required ='required' formControlName ='role'>

					<option [value] =''> </option> 

					<option *ngFor ='let role of roles' [value] ='role.role'> {{role.name}} </option> 

				</select>

				<app-user-validator *ngIf ='role' [role] ='role'></app-user-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='statuses'>

			<div class ='form-group'>

				<label for ='status' class ='form-label bold'> Status * : </label>

				<select name ='status' id ='status' class ='form-control' required ='required' formControlName ='status'>

					<option [value] =''> </option> 

					<option *ngFor ='let status of statuses' [value] ='status.status'> {{status.name}} </option> 

				</select>

				<app-user-validator *ngIf ='status' [status] ='status'></app-user-validator>

			</div>

		</ng-container>

			<div class ='form-group'>

				<label for ='matriculationNumber' class ='form-label bold'> Matriculation Number : </label>

				<input type ='text' id ='matriculationNumber' name ='matriculationNumber' placeholder ='2015/1/57261CI' autocomplete ='new-matriculationNumber' formControlName ='matriculationNumber' 

				class ='form-control'>

				<app-user-validator *ngIf ='matriculationNumber' [matriculationNumber] ='matriculationNumber'></app-user-validator>

			</div>

			<div class ='form-group'>

				<label for ='jambRegistrationNumber' class ='form-label bold'> Jamb Registration Number : </label>

				<input type ='text' id ='jambRegistrationNumber' name ='jambRegistrationNumber' placeholder ='56223645DH' autocomplete ='new-jambRegistrationNumber'

				formControlName ='jambRegistrationNumber' class ='form-control'>

				<app-user-validator *ngIf ='jambRegistrationNumber' [jambRegistrationNumber] ='jambRegistrationNumber'></app-user-validator>

			</div>

			<div class ='form-group'>

				<label for ='identityNumber' class ='form-label bold'> Identity Number : </label>

				<input type ='text' id ='identityNumber' name ='identityNumber' placeholder ='M1503186' autocomplete ='new-identityNumber' formControlName ='identityNumber' class ='form-control'>

				<app-user-validator *ngIf ='identityNumber' [identityNumber] ='identityNumber'></app-user-validator>

			</div>


			<button [style.display] ='fip' type ='submit' id ='form-btn-submit' [class] ='{"disabled" : !isFormValid , "btn-submit" : isFormValid }' [disabled] ='!userForm.valid'> Submit </button> 

			<p *ngIf ='formSubmitted'>Your form is being processed. Please kindly be patient and wait while it completes.</p>

		</form>

		<div class ='entry-options'>

			<h3> Entry Options </h3>

			<a [routerLink] ='["../../../" , "user" , "entry" , "detail" , user._id]' class ='entry-option center'> User Detail </a>

			<a [routerLink] ='["../../../" , "user" , "entry" , "delete" , user._id]' class ='entry-option center'> User Delete </a>

			<a *ngIf ='user.status == "deactivated"' [routerLink] ='["../../../" , "user" , "entry" , "detail" , user._id , "reactivate"]' class ='entry-option center'> User Reactivate </a>

			<a *ngIf ='user.status == "active"' [routerLink] ='["../../../" , "user" , "entry" , "detail" , user._id , "deactivate"]' class ='entry-option center'> User Deactivate </a>

		</div>

</div>

</div>