<h2 *ngIf ='title'> {{title}} </h2>

<p> Welcome to the Federal University of Technology, Minna {{title}} </p>

<p> In this system, a student and user can perform different type of requests and can initiate tasks that is within the scope of the system. Examples of request and service a member of the system can initiate 

are as follows : </p>

<ul>

	<li> Resolution of Academic Semester Course Registration Issues </li>

	<li> Request for Resolution of Academic Semester and Session Result Issues </li>

	<li> Request for Recovery of School Official Email Account login credentials </li>

	<li> Request for Recovery of School Internet Hotspot Password </li>

	<li> Request for School Internet Facility Credentials for 100 Level and Masters and Doctorate Student </li>

	<li> Refund of School Related Fees such as Academic Session Fees & Faculty & Departmental Fees </li>

	<li> Student Payment of Departmental and Faculty Fees </li>

</ul>

<app-get-started></app-get-started>