<h2 *ngIf ='title'> {{title}} </h2>

<app-view-description *ngIf ='view' [view-description] ='view'> </app-view-description>

<app-notification-screen *ngIf ='notificationAvailable' [notified] ='notificationAvailable' [message] ='notificationMessage' (finished) ='removeNotification()'> </app-notification-screen>

<app-resource-unavailable *ngIf ='error' [error] ='error' > </app-resource-unavailable>

	<div *ngIf ='entry' id ='entry-detail'>

		<form action ='' method ='post' enctype ='application/x-www-form-urlencoded' autocomplete ='off' [formGroup] ='entryForm' (ngSubmit) ='deactivateEntry(entryForm.value)'>

			<app-profile-input-fields *ngIf ='systemType' [system-type] ='systemType' [entry] ='entry' [entry-form] ='entryForm' [email-address] ='emailAddress' [identity-number] ='identityNumber'>

			</app-profile-input-fields>

			<button [style.display] ='fip' type ='submit' id ='form-btn-submit' [class] ='{"disabled" : !isFormValid , "btn-submit" : isFormValid }' [disabled] ='!entryForm.valid'> Submit </button> 

			<p *ngIf ='formSubmitted'> Your form is being processed. Please kindly be patient and wait while it completes. </p>

		</form>

	</div>
