<ng-container *ngIf ='entry'>

<div class ='generate-username-password-form' [formGroup] ='entryForm'>

	<ng-container *ngIf ='(generateCred == "passwords") && status.value == "Fulfilled"'>

		<div class ='form-group'>

		<button id ='generateCredentials' class ='btn-submit' (click) ='createNewCredentials($event)'> Generate {{systemType}} Password </button>

	</div>

		<div class ='form-group' *ngIf ='requestPassword'>

			<label for ='request-password' class ='form-label bold'> Password </label>

			<input type ='text' name ='requestPassword' id ='request-password' [value] ='entry?.requestPassword' class ='form-control' formControlName ='requestPassword'>

			<app-general-request-validators [system-type] ='systemType' [request-password] ='requestPassword'> </app-general-request-validators>

		</div>

	</ng-container>

		</div>

	</ng-container>