<h2 *ngIf ='title'> {{title}} </h2>

<app-notification-screen *ngIf ='notificationAvailable' [notified] ='notificationAvailable' [message] ='notificationMessage' (finished) ='removeNotification()'></app-notification-screen>

<app-resource-unavailable *ngIf ='error' [error] ='error' > </app-resource-unavailable>

<app-view-description *ngIf ='view' [view-description] ='view'> </app-view-description>

<div *ngIf ='entryIdx' id ='entry-update'>

<form action ='' method = 'post' enctype ='application/x-www-form-urlencoded' autocomplete ='off' [formGroup] ='entryForm' (ngSubmit) ='$changePassword(entryForm.value)' > 

		<div *ngIf ='password' class ='form-group'>

			<label for ='password' class ='form-label bold'> Current Password * </label>

			<input type ='password' class ='form-control' id ='password' name ='password' required ='required' autocomplete ='new-password' formControlName ='password'>

			<app-profile-validator *ngIf ='password' [system-type] ='systemType' [password] = 'password'> </app-profile-validator>

		</div>

		<div *ngIf ='newPassword' class ='form-group'>

			<label for ='new-password' class ='form-label bold'> New Password * </label>

			<input type ='password' class ='form-control' id ='new-password' name ='newPassword' required ='required' autocomplete ='new-newPassword' formControlName ='newPassword'>

			<app-profile-validator  *ngIf ='newPassword' [system-type] ='systemType' [newPassword] = 'newPassword'> </app-profile-validator>

		</div>

		<div *ngIf ='confirmPassword' class ='form-group'>

			<label for ='confirm-password' class ='form-label bold'> Confirm Password * </label>

			<input type ='password' class ='form-control' id ='confirm-password' name ='confirmPassword' required ='required' autocomplete ='new-confirmPassword' formControlName ='confirmPassword'>

			<app-profile-validator  *ngIf ='confirmPassword' [system-type] ='systemType' [confirmPassword] ='confirmPassword'> </app-profile-validator>

		</div>

			<button [style.display] ='fip' type ='submit' id ='form-btn-submit' [class] ='{"disabled" : !isFormValid , "btn-submit" : isFormValid }' 

			[disabled] ='!entryForm.valid'> Submit </button> 

			<p *ngIf ='formSubmitted'> Your form is being processed. Please kindly be patient and wait while it completes. </p>

	</form>

</div>