<ng-container *ngIf ='search'>

<div @fadeAnimation *ngIf ='search.invalid && (search.touched || search.dirty)' class ='validation-error'>

	<ul>

		<li *ngIf ='search.errors?.required || search.errors?.searchError'> Search value of {{systemType}} should be either of the followings

				<ng-container *ngIf ='search.errors?.searchError?.searches'>  

					<ng-container *ngFor ='let sv of search.errors.searchError.searches , let lss = last'>

						{{sv}} <ng-container *ngIf ='lss else iAmNotLast'> . </ng-container>

						<ng-template #iAmNotLast>

							,

						</ng-template>


				</ng-container>

				</ng-container>

			</li>

	</ul>

</div>

</ng-container>