<ng-container *ngIf ='error'>

<h3> An Error has occured </h3>

<p> Resource : {{error.resource}} </p>

<ng-container *ngIf ='error?.error?.message'>

<p [style.color] ='"red"'> Message : {{error.error.message}}</p>

<p> Status : {{error.status}} </p>

<p> Status Text : {{error.statusText}} </p>

</ng-container>

<ng-container *ngIf ='error?.errors && error?.errors?.length'>

	<ng-container *ngFor ='let fieldError of error.errors'>

<p> Status : {{error.status}} </p>

<p> Status Text : {{error.statusText}} </p>

<h4>List of Errors : </h4>

	<ul class ='validation-errors'>

		<li>{{fieldError.message}}</li>

	</ul>

	</ng-container>

</ng-container>

</ng-container>