<h2 *ngIf ='title'> {{title}} </h2>

<div id ='update-profile'>

	<p> <b class ='bold'> Note : Form will not be updated if no files are uploaded. </b> </p>

<app-view-description *ngIf ='view' [view-description] ='view'> </app-view-description>

<div id ='guidelines'>

	<app-guidelines [system-guideline] ='systemGuideline' > </app-guidelines>

</div>

<app-resource-unavailable *ngIf ='error' [error] ='error' > </app-resource-unavailable>

<app-notification-screen *ngIf ='notificationAvailable' [notified] ='notificationAvailable' [message] ='notificationMessage' (finished) ='removeNotification()'> </app-notification-screen>

<ng-container *ngIf ='entryForm'>

<form action ='' method ='post' enctype ='application/x-www-form-urlencoded' [formGroup] ='entryForm' (ngSubmit) ='updateDisplay(entryForm.value)'>

		<app-attachment-upload [theControl] ='props.key' [theForm] ='entryForm' [submission] = 'submission' [myProps] ='props' [myNumber] ='i + 1'

		(myFile) ='pushFile($event)' *ngFor ='let props of $controls; let i =index;' #attachments> </app-attachment-upload>

	<button [style.display] ='fip' type ='submit' id ='form-btn-submit' [class] ='{"disabled" : !isFormValid , "btn-submit" : isFormValid }' [disabled] ='!entryForm.valid'> Submit </button> 

	<p *ngIf ='formSubmitted'> Your form is being processed. Please kindly be patient and wait while it completes. </p>

</form>

</ng-container>

</div>
