
<ng-container *ngIf ='name'>

	<div *ngIf ='name.invalid && (name.touched || name.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='name.errors?.required'> Name of Faculty should be provided and cannot be empty </li>			
			<li *ngIf ='name.errors?.required || name.errors?.minlength'> Name of Faculty cannot be less than 2 characters in length </li>

		</ul>

	</div>

</ng-container>


<ng-container *ngIf ='shortCode'>

<div *ngIf ='shortCode.invalid && (shortCode.touched || shortCode.dirty)' class ='validation-error'>

	<ul>

		<li *ngIf ='shortCode.errors?.required'> Short Code of Faculty should be provided and cannot be empty </li>
		<li *ngIf ='shortCode.errors?.required || shortCode.errors?.minlength'> Short Code of Faculty cannot be less than 2 characters in length </li>

	</ul>

</div>

	</ng-container>


<ng-container *ngIf ='num'>

	<div *ngIf ='num.invalid && (num.touched || num.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='num.errors?.required'> Unique Number of Faculty should be provided and cannot be empty </li>
			<li *ngIf ='num.errors?.required || num.errors?.minlength'> Unique Number of Faculty cannot be less than 2 characters in length </li>

		</ul>

	</div>

</ng-container>