<ng-container *ngIf ='entry'>

<div class ='generate-username-password-form' [formGroup] ='entryForm'>

	<ng-container *ngIf ='generateCred == "csif" && status.value == "Fulfilled"'>

		<div class ='form-group'>

		<button id ='generateCredentials' class ='btn-submit' (click) ='createNewCredentials($event)'> Generate Request Username and Password </button>

	</div>

		<div class ='form-group'>

			<ng-container *ngIf ='entry && entry.author; else noAuthor'>

			<input type ='hidden' id ='proposedCredential' name ='proposal' [value] ='entry | proposedCredential' class ='form-control' #proposedCredential>

		</ng-container>

		<ng-template #noAuthor>

			<input type ='hidden' id ='proposedCredential' name ='proposal' value ='' #proposedCredential>

		</ng-template>

		</div>

		<div class ='form-group'>

			<label for ='request-username' class ='form-label bold'> Username </label>

			<input type ='text' name ='requestUsername' id ='request-username' [value] ='entry?.requestUsername' class ='form-control' formControlName ='requestUsername'>

			<app-general-request-validators [system-type] ='systemType' [request-username] ='requestUsername'> </app-general-request-validators>

		</div>

		<div class ='form-group'>

			<label for ='request-password' class ='form-label bold'> Password </label>

			<input type ='text' name ='requestPassword' id ='request-password' [value] ='entry?.requestPassword' class ='form-control' formControlName ='requestPassword'>

			<app-general-request-validators [system-type] ='systemType' [request-password] ='requestPassword'> </app-general-request-validators>

		</div>

	</ng-container>

		</div>

	</ng-container>