<ng-container *ngIf ='entryForm'>

<div class ='' [formGroup] ='entryForm'>

	<ng-container *ngIf ='firstName'>

			<div class ='form-group'>

				<label for ='firstName' class ='form-label bold'> First Name * : </label>

				<input type ='text' id ='firstName' name ='firstName' placeholder ='Yusuf' required ='required' autocomplete ='new-firstName' formControlName ='firstName' class ='form-control' 

				[readOnly] ='noEdit' appCapitalize ='appCapitalize'>

				<app-user-account-validator *ngIf ='firstName' [system-type] ='systemType' [first-name] ='firstName'> </app-user-account-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='lastName'>

			<div class ='form-group'>

				<label for ='lastName' class ='form-label bold'> Last Name * : </label>

				<input type ='text' id ='lastName' name ='lastName' placeholder ='Musa' required ='required' autocomplete ='new-lastName' formControlName ='lastName' class ='form-control'

				[readOnly] ='noEdit' appCapitalize ='appCapitalize'>

				<app-user-account-validator *ngIf ='lastName' [system-type] ='systemType' [last-name] ='lastName'> </app-user-account-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='username'>

			<div class ='form-group'>

				<label for ='username' class ='form-label bold'> Username * : </label>

				<input type ='text' id ='username' name ='username' placeholder ='adigun' required ='required' autocomplete ='new-username' formControlName ='username' class ='form-control' 

				[readOnly] ='noEdit' appLowercase ='appLowercase'>

				<app-user-account-validator *ngIf ='username' [system-type] ='systemType' [user-name] ='username'> </app-user-account-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='emailAddress'>

			<div class ='form-group'>

				<label for ='emailAddress' class ='form-label bold'> Email Address * : </label>

				<input type ='text' id ='emailAddress' name ='emailAddress' placeholder ='david@example.com' required ='required' autocomplete ='new-emailAddress' formControlName ='emailAddress' 

				class ='form-control' [readOnly] ='noEdit' appLowercase ='appLowercase'>

				<app-user-account-validator *ngIf ='emailAddress' [system-type] ='systemType' [email-address] ='emailAddress'> </app-user-account-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='password'>

			<div class ='form-group'>

				<label for ='password' class ='form-label bold'> Password * : </label>

				<input type ='password' id ='password' name ='password' placeholder ='*******************' required ='required' autocomplete ='new-password' formControlName ='password'

				[readOnly] ='noEdit' class ='form-control'>

				<app-user-account-validator *ngIf ='password' [system-type] ='systemType' [password] ='password'> </app-user-account-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='confirmPassword'>

			<div class ='form-group'>

				<label for ='confirmPassword' class ='form-label bold'> Confirmation Password * : </label>

				<input type ='password' id ='confirmPassword' name ='confirmPassword' placeholder ='*******************' required ='required' autocomplete ='new-confirmPassword'

				formControlName ='confirmPassword' [readOnly] ='noEdit' class ='form-control'>

				<app-user-account-validator *ngIf ='confirmPassword' [system-type] ='systemType' [confirm-password] ='confirmPassword'> </app-user-account-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='about'>

			<div class ='form-group'>

				<label for ='about' class ='form-label bold'> About * : </label>

				<textarea id ='about' name ='about' placeholder ='I am Me' required ='required' formControlName ='about' class ='form-control form-textarea' [readOnly] ='noEdit' ></textarea>

				<app-user-account-validator *ngIf ='about' [system-type] ='systemType' [about] ='about'> </app-user-account-validator>

			</div>

		</ng-container>

			<ng-container *ngIf ='faculty && generalOthers && generalOthers?.faculty && generalOthers?.faculty?.length'>

			<div class ='form-group'>

				<label for ='faculty' class ='form-label bold'> Faculty * : </label>

				<select name ='faculty' id ='faculty' class ='form-control' required ='required' [readOnly] ='noEdit' formControlName ='faculty'>

					<option [value] =''> </option> 

					<option *ngFor ='let faculty of generalOthers?.faculty' [value] ='faculty._id'> {{faculty._id}} </option> 

				</select>

				<app-user-account-validator *ngIf ='faculty' [system-type] ='systemType' [faculty] ='faculty'></app-user-account-validator>

			</div>

		</ng-container>


			<ng-container *ngIf ='department && generalOthers && generalOthers?.department && generalOthers?.department?.length'>

			<div class ='form-group'>

				<label for ='department' class ='form-label bold'> Department * : </label>

				<select name ='department' id ='department' class ='form-control' required ='required' [readOnly] ='noEdit' formControlName ='department'>

					<option [value] =''> </option> 

					<option *ngFor ='let department of generalOthers?.department' [value] ='department._id'> {{department._id}} </option> 

				</select>

				<app-user-account-validator *ngIf ='department' [system-type] ='systemType' [department] ='department'> </app-user-account-validator>

			</div>

		</ng-container>

		
			<ng-container *ngIf ='level && generalOthers && generalOthers?.level && generalOthers?.level?.length'>

			<div class ='form-group'>

				<label for ='level' class ='form-label bold'> Level * : </label>

				<select name ='level' id ='level' class ='form-control' required ='required' [readOnly] ='noEdit' formControlName ='level'>

					<option [value] =''> </option> 

					<option *ngFor ='let level of generalOthers?.level' [value] ='level._id'> {{level._id}} </option> 

				</select>

				<app-user-account-validator *ngIf ='level' [system-type] ='systemType' [level] ='level'> </app-user-account-validator>

			</div>

		</ng-container>

		
			<ng-container *ngIf ='country && generalOthers && generalOthers?.country && generalOthers?.country?.length'>

			<div class ='form-group'>

				<label for ='country' class ='form-label bold'> Country * : </label>

				<select name ='country' id ='country' class ='form-control' required ='required' [readOnly] ='noEdit' formControlName ='country'>

					<option [value] =''> </option> 

					<option *ngFor ='let country of generalOthers?.country' [value] ='country._id'> {{country._id}} </option> 

				</select>

				<app-user-account-validator *ngIf ='country' [system-type] ='systemType' [country] ='country'> </app-user-account-validator>

			</div>

		</ng-container>

		
			<ng-container *ngIf ='unit && generalOthers && generalOthers?.unit && generalOthers?.unit?.length'>

			<div class ='form-group'>

				<label for ='unit' class ='form-label bold'> Unit * : </label>

				<select name ='unit' id ='unit' class ='form-control' required ='required' [readOnly] ='noEdit' formControlName ='unit'>

					<option [value] =''> </option> 

					<option *ngFor ='let unit of generalOthers?.unit' [value] ='unit._id'> {{unit._id}} </option> 

				</select>

				<app-user-account-validator *ngIf ='unit' [system-type] ='systemType' [unit] ='unit'> </app-user-account-validator>

			</div>

		</ng-container>

			<ng-container *ngIf ='role && roles && roles?.length'>

			<div class ='form-group'>

				<label for ='role' class ='form-label bold'> Role * : </label>

				<select name ='role' id ='role' class ='form-control' required ='required' [readOnly] ='noEdit' formControlName ='role'>

					<option [value] =''> </option> 

					<option *ngFor ='let role of roles' [value] ='role.role'> {{role.name}} </option> 

				</select>

				<app-user-account-validator *ngIf ='role' [system-type] ='systemType' [role] ='role'> </app-user-account-validator>

			</div>

		</ng-container>

			<ng-container *ngIf ='status && statuses && statuses?.length'>

			<div class ='form-group'>

				<label for ='status' class ='form-label bold'> Status * : </label>

				<select name ='status' id ='status' class ='form-control' required ='required' [readOnly] ='noEdit' formControlName ='status'>

					<option [value] =''> </option> 

					<option *ngFor ='let status of statuses' [value] ='status.status'> {{status.name}} </option> 

				</select>

				<app-user-account-validator *ngIf ='status' [system-type] ='systemType' [status] ='status'> </app-user-account-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='matriculationNumber'>

			<div class ='form-group'>

				<label for ='matriculationNumber' class ='form-label bold'> Matriculation Number : </label>

				<input type ='text' id ='matriculationNumber' name ='matriculationNumber' placeholder ='2015/1/57261CI' autocomplete ='new-matriculationNumber' formControlName ='matriculationNumber' 

				[readOnly] ='noEdit' class ='form-control'>

				<app-user-account-validator *ngIf ='matriculationNumber' [system-type] ='systemType' [matriculation-number] ='matriculationNumber'></app-user-account-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='jambRegistrationNumber'>

			<div class ='form-group'>

				<label for ='jambRegistrationNumber' class ='form-label bold'> Jamb Registration Number : </label>

				<input type ='text' id ='jambRegistrationNumber' name ='jambRegistrationNumber' placeholder ='56223645DH' autocomplete ='new-jambRegistrationNumber'

				formControlName ='jambRegistrationNumber' [readOnly] ='noEdit' class ='form-control'>

				<app-user-account-validator *ngIf ='jambRegistrationNumber' [system-type] ='systemType' [jamb-registration-number] ='jambRegistrationNumber'></app-user-account-validator>

			</div>

		</ng-container>

		<ng-container *ngIf ='identityNumber'>

			<div class ='form-group'>

				<label for ='identityNumber' class ='form-label bold'> Identity Number : </label>

				<input type ='text' id ='identityNumber' name ='identityNumber' placeholder ='M1503186' autocomplete ='new-identityNumber' formControlName ='identityNumber' 

				[readOnly] ='noEdit' class ='form-control'>

				<app-user-account-validator *ngIf ='identityNumber' [system-type] ='systemType' [identity-number] ='identityNumber'> </app-user-account-validator>

			</div>

		</ng-container>

		</div>

	</ng-container>