	<div class ='entry-options'>

		<h3> Entries Options </h3>

		<p><b class ='bold'> Guidelines : </b> A member of the system can use the input field below to search for an entry or entries that exists in the  records. When the inputs becomes valid, the 

		"Submit" button will become active by turning its color from black to purple. </p>

		<p> More than one entry can be deleted or removed at the same time from the database or records. When the cicle marker beside each entry far left is checked and highlighted in purple and the 

			entries highlighted are at least 2, A button with the label "Delete Many" will display and become active so that the administrator or moderator or member with privilege can take action.</p>

	</div>