<h2>{{title}}</h2>

<p>Only Administrators and Moderators are allowed to perform an action within this sub-part of the system. Anybody with a privilege less than an Administrator and Moderator are not allowed or permitted to make permanent or temporary changes to the department records available and found in the system. In this department dashboard, the Administrator and Moderator will be able to monitor, evaluate and make decision on department entries.</p>

<div id ='dashboard'>

<ul>

	<li>

		<a href ='/faculty/entry/add' class ='center'>Manage Department</a>

	</li>

	<li>

		<a href ='/faculty/entries' class ='center'>Add a Department</a>

	</li>

	<li>

		<a href ='/faculty/entries/delete/all' class ='center'>Delete All Departments</a>

	</li>

</ul>

</div>