<div id ='entry-detail-options'>

		<ng-container *ngIf ='entry'>

			<ng-container *ngIf ='entry?.stage'>

				<ng-container *ngIf ='entry?.stage._id == "1" || entry?.stage._id == 1 || entry?.stage._id >= "1"'>

					<a [routerLink] ="['/request' , link , 'entry' , entry?.slug , 'timeline']" class ='center'> Timeline </a>

				</ng-container>

			</ng-container>

			<ng-container *ngIf ='entry?.status == "Pending"'>

				<ng-container *ngIf ="canUpdateEntry">

					<a class ='center' (click) ='setEntryOnReview($event)'> Set Application on Review </a>

				</ng-container>

			<ng-container *ngIf ='p$review'>

				<p> Your request is being processed. Please kindly be patient and wait while it completes. </p>

			</ng-container>

			</ng-container>

			<ng-container *ngIf ='entry?.letter'>

				<a [routerLink] ="['/request' , link , 'entry' , entry?.slug , 'letter']" class ='center'> View Letter </a>

			</ng-container>

			<ng-container *ngIf ='entry?.status == "Review"'>

				<a [routerLink] ="['/request' , link , 'entry' , entry?.slug , 'comment' , 'add']" class ='center'> Add a Comment </a>

			</ng-container>

		</ng-container>

	</div>