

<ng-container *ngIf ='firstName'>

	<div @fadeAnimation *ngIf ='firstName.invalid && (firstName.touched || firstName.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='firstName.errors?.required'> First Name of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='firstName.errors?.required || firstName.errors?.minlength'> First Name of {{systemType}} cannot be less than 2 characters in length </li>
			<li *ngIf ='firstName.errors?.required || firstName.errors?.maxlength'> First Name of {{systemType}} cannot be greater than 20 characters in length </li>

		</ul>

	</div>

</ng-container>


<ng-container *ngIf ='lastName'>

	<div @fadeAnimation *ngIf ='lastName.invalid && (lastName.touched || lastName.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='lastName.errors?.required'> Last Name of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='lastName.errors?.required || lastName.errors?.minlength'> Last Name of {{systemType}} cannot be less than 2 characters in length </li>
			<li *ngIf ='lastName.errors?.required || lastName.errors?.maxlength'> Last Name of {{systemType}} cannot be greater than 20 characters in length </li>

		</ul>

	</div>

</ng-container>

<ng-container *ngIf ='username'>

	<div @fadeAnimation *ngIf ='username.invalid && (username.touched || username.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='username.errors?.required'> {{systemType}}name of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='username.errors?.required || username.errors?.minlength'> {{systemType}}name of {{systemType}} cannot be less than 3 characters in length </li>
			<li *ngIf ='username.errors?.required || username.errors?.maxlength'> {{systemType}}name of {{systemType}} cannot be greater than 20 characters in length </li>

			<li *ngIf ='username.errors?.forbiddenNames'> {{systemType}}name of {{systemType}} cannot be either of the followings 

				<ng-container *ngIf ='username.errors?.forbiddenNames?.names'>  

					<ng-container *ngFor ='let name of username.errors.forbiddenNames.names , let lss = last'>

						{{name}} <ng-container *ngIf ='!lss else iAmLast'> or </ng-container> 

						<ng-template #iAmLast> . </ng-template>

				</ng-container>

				</ng-container>

				</li>

			<li *ngIf ='username.errors?.usernameService'> {{systemType}}name cannot be used at the moment because it is already taken by another user. Please input another username </li>

		</ul>

	</div>

</ng-container>

<ng-container *ngIf ='password'>

	<div @fadeAnimation *ngIf ='password.invalid && (password.touched || password.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='password.errors?.required'> Password of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='password.errors?.required || password.errors?.minlength'> Password of {{systemType}} cannot be less than 7 characters in length </li>
			<li *ngIf ='password.errors?.required || password.errors?.maxlength'> Password of {{systemType}} cannot be greater than 35 characters in length </li>
			<li *ngIf ='password.errors?.simplePassword'> Password of {{systemType}} is too simple and will not be allowed in this system. Please input another type of password </li>

		</ul>

	</div>

</ng-container>

<ng-container *ngIf ='confirmPassword'>

	<div @fadeAnimation *ngIf ='confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='confirmPassword.errors?.required'> Confirmation Password of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='confirmPassword.errors?.required || confirmPassword.errors?.minlength'> Confirmation Password of {{systemType}} cannot be less than 7 characters in length </li>
			<li *ngIf ='confirmPassword.errors?.required || confirmPassword.errors?.maxlength'> Confirmation Password of {{systemType}} cannot be greater than 35 characters in length </li>
			<li *ngIf ='confirmPassword.errors?.simplePassword'> Confirmation Password of {{systemType}} is too simple and will not be allowed in this system. Please input another type of confirmPassword </li>
			<li *ngIf ='confirmPassword.errors?.confirmPassword'> Confirmation Password of {{systemType}} should be equal to initial password </li>

		</ul>

	</div>

</ng-container>

<ng-container *ngIf ='about'>

	<div @fadeAnimation *ngIf ='about.invalid && (about.touched || about.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='about.errors?.required'> About {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='about.errors?.required || about.errors?.minlength'> About {{systemType}} cannot be less than 9 characters in length </li>
			<li *ngIf ='about.errors?.required || about.errors?.maxlength'> About {{systemType}} cannot be greater than 300 characters in length </li>

		</ul>

	</div>

</ng-container>

<ng-container *ngIf ='emailAddress'>

	<div @fadeAnimation *ngIf ='emailAddress.invalid && (emailAddress.touched || emailAddress.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='emailAddress.errors?.required'> Email Address of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='emailAddress.errors?.required || emailAddress.errors?.minlength'> Email Address of {{systemType}} cannot be less than 7 characters in length </li>
			<li *ngIf ='emailAddress.errors?.required || emailAddress.errors?.maxlength'> Email Address of {{systemType}} cannot be greater than 50 characters in length </li>
			<li *ngIf ='emailAddress.errors?.required || emailAddress.errors?.emailAddress'> Email Address must be valid and should conform to standards for example david@gmail.com </li>
			<li *ngIf ='emailAddress.errors?.emailAddressService'> Email Address cannot be used at the moment because it is already taken by another user. Please input another email address </li>

		</ul>

	</div>

</ng-container>

<ng-container *ngIf ='department'>

	<div @fadeAnimation *ngIf ='department.invalid && (department.touched || department.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='department.errors?.required'> Department of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='department.errors?.required || department.errors?.minlength'> Department of {{systemType}} cannot be less than 2 characters in length </li>
			<li *ngIf ='department.errors?.required || department.errors?.maxlength'> Department of {{systemType}} cannot be greater than 150 characters in length </li>
			<li *ngIf ='department.errors?.Department'> Department of {{systemType}} should be available from existing record before it can be considered valid </li>

		</ul>

	</div>

</ng-container>

<ng-container *ngIf ='faculty'>

	<div @fadeAnimation *ngIf ='faculty.invalid && (faculty.touched || faculty.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='faculty.errors?.required'> Faculty of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='faculty.errors?.required || faculty.errors?.minlength'> Faculty of {{systemType}} cannot be less than 2 characters in length </li>
			<li *ngIf ='faculty.errors?.required || faculty.errors?.maxlength'> Faculty of {{systemType}} cannot be greater than 150 characters in length </li>
			<li *ngIf ='faculty.errors?.Faculty'> Faculty of {{systemType}} should be available from existing record before it can be considered valid </li>

		</ul>

	</div>

</ng-container>


<ng-container *ngIf ='country'>

	<div @fadeAnimation *ngIf ='country.invalid && (country.touched || country.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='country.errors?.required'> Country of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='country.errors?.required || country.errors?.minlength'> Country of {{systemType}} cannot be less than 2 characters in length </li>
			<li *ngIf ='country.errors?.required || country.errors?.maxlength'> Country of {{systemType}} cannot be greater than 150 characters in length </li>
			<li *ngIf ='country.errors?.Country'> Country of {{systemType}} should be available from existing record before it can be considered valid </li>

		</ul>

	</div>

</ng-container>


<ng-container *ngIf ='level'>

	<div @fadeAnimation *ngIf ='level.invalid && (level.touched || level.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='level.errors?.required'> Level of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='level.errors?.required || level.errors?.minlength'> Level of {{systemType}} cannot be less than 2 characters in length </li>
			<li *ngIf ='level.errors?.required || level.errors?.maxlength'> Level of {{systemType}} cannot be greater than 50 characters in length </li>
			<li *ngIf ='level.errors?.Level'> Level of {{systemType}} should be available from existing record before it can be considered valid </li>

		</ul>

	</div>

</ng-container>


<ng-container *ngIf ='unit'>

	<div @fadeAnimation *ngIf ='unit.invalid && (unit.touched || unit.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='unit.errors?.required'> Unit of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='unit.errors?.required || unit.errors?.minlength'> Unit of {{systemType}} cannot be less than 2 characters in length </li>
			<li *ngIf ='unit.errors?.required || unit.errors?.maxlength'> Unit of {{systemType}} cannot be greater than 150 characters in length </li>
			<li *ngIf ='unit.errors?.Unit'> Unit of {{systemType}} should be available from existing record before it can be considered valid </li>

		</ul>

	</div>

</ng-container>


<ng-container *ngIf ='matriculationNumber'>

	<div @fadeAnimation *ngIf ='matriculationNumber.invalid && (matriculationNumber.touched || matriculationNumber.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='matriculationNumber.errors?.required'> Matriculation Number of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='matriculationNumber.errors?.required || matriculationNumber.errors?.minlength'> Matriculation Number of {{systemType}} cannot be less than 2 characters in length </li>
			<li *ngIf ='matriculationNumber.errors?.required || matriculationNumber.errors?.maxlength'> Matriculation Number of {{systemType}} cannot be greater than 30 characters in length </li>

		</ul>

	</div>

</ng-container>


<ng-container *ngIf ='jambRegistrationNumber'>

	<div @fadeAnimation *ngIf ='jambRegistrationNumber.invalid && (jambRegistrationNumber.touched || jambRegistrationNumber.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='jambRegistrationNumber.errors?.required'> Jamb Registration Number of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='jambRegistrationNumber.errors?.required || jambRegistrationNumber.errors?.minlength'> Jamb Registration Number of {{systemType}} cannot be less than 2 characters in length </li>
			<li *ngIf ='jambRegistrationNumber.errors?.required || jambRegistrationNumber.errors?.maxlength'> Jamb Registration Number of {{systemType}} cannot be greater than 30 characters in length </li>

		</ul>

	</div>

</ng-container>


<ng-container *ngIf ='identityNumber'>

	<div @fadeAnimation *ngIf ='identityNumber.invalid && (identityNumber.touched || identityNumber.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='identityNumber.errors?.required'> Identity Number of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='identityNumber.errors?.required || identityNumber.errors?.minlength'> Identity Number of {{systemType}} cannot be less than 2 characters in length </li>
			<li *ngIf ='identityNumber.errors?.required || identityNumber.errors?.maxlength'> Identity Number of {{systemType}} cannot be greater than 30 characters in length </li>

		</ul>

	</div>

</ng-container>

<ng-container *ngIf ='role'>

	<div @fadeAnimation *ngIf ='role.invalid && (role.touched || role.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='role.errors?.required'> Role of {{systemType}} should be provided and cannot be empty </li>			
			<li *ngIf ='role.errors?.required || role.errors?.minlength'> Role of {{systemType}} cannot be less than 2 characters in length </li>
			<li *ngIf ='role.errors?.required || role.errors?.maxlength'> Role of {{systemType}} cannot be greater than 40 characters in length </li>
			<li *ngIf ='role.errors?.roleError'> Role of {{systemType}} should be either of the followings

				<ng-container *ngIf ='role.errors?.roleError?.roles'>  

					<ng-container *ngFor ='let role of role.errors.roleError.roles , let lss = last'>

						{{role}} <ng-container *ngIf ='!lss else iAmLast'> or </ng-container> 

						<ng-template #iAmLast> . </ng-template>

				</ng-container>

				</ng-container>

			</li>

		</ul>

	</div>

</ng-container>

<ng-container *ngIf ='status'>

<div @fadeAnimation *ngIf ='status.invalid && (status.touched || status.dirty)' class ='validation-error'>

	<ul>

		<li *ngIf ='status.errors?.required'> Status of {{systemType}} should be provided and cannot be empty </li>
		<li *ngIf ='status.errors?.required || status.errors?.minlength'> Status of {{systemType}} cannot be less than 2 characters in length </li>
		<li *ngIf ='status.errors?.required || status.errors?.maxlength'> Status of {{systemType}} cannot be greater than 20 characters in length </li>
		<li *ngIf ='status.errors?.statusError'> Status of {{systemType}} should be either of the following 

				<ng-container *ngIf ='status.errors?.statusError?.statuses'>  

					<ng-container *ngFor ='let status of status.errors.statusError.statuses , let lss = last'>

						{{status}} <ng-container *ngIf ='!lss else iAmLast'> or </ng-container> 

						<ng-template #iAmLast> . </ng-template>

				</ng-container>

				</ng-container>

				</li>

	</ul>

</div>

</ng-container>


<ng-container *ngIf ='num'>

	<div @fadeAnimation *ngIf ='num.invalid && (num.touched || num.dirty)' class ='validation-error'>

		<ul>

			<li *ngIf ='num.errors?.required'> Unique Number of {{systemType}} should be provided and cannot be empty </li>
			<li *ngIf ='num.errors?.required || num.errors?.minlength'> Unique Number of {{systemType}} cannot be less than 2 characters in length </li>

		</ul>

	</div>

</ng-container>
