<h2 *ngIf ='title' > {{title}} </h2>

<app-view-description *ngIf ='view' [view-description] ='view' [system-type] ='systemType' > </app-view-description>

<app-notification-screen *ngIf ='notificationAvailable' [notified] ='notificationAvailable' [message] ='notificationMessage' (finished) ='removeNotification()'> </app-notification-screen>

<app-resource-unavailable id ='error' *ngIf ='error' [error] ='error' > </app-resource-unavailable>

	<div id ='entry-detail'>

		<app-delete-all-entry *ngIf ='systemType' [system-type] ='systemType' ></app-delete-all-entry>

			<button [style.display] ='fip' type ='submit' id ='form-btn-submit' class ='btn-submit' (click) ='reactivateEntry()' > Confirm </button>

			<p *ngIf ='formSubmitted'> Your form is being processed. Please kindly be patient and wait while it completes. </p>

</div>