<div id ='entry-main'>

<h2 *ngIf ='title'> {{title}} </h2>

<app-view-description *ngIf ='view' [view-description] ='view'> </app-view-description>

<app-notification-screen *ngIf ='notificationAvailable' [notified] ='notificationAvailable' [message] ='notificationMessage' (finished) ='removeNotification()'> </app-notification-screen>

<app-list-entry-options> </app-list-entry-options>

		<div class ='search-bar'>

		<a class ='entry-option entry-option-small center' [class.hide] ='esdl.length < 2' (click) ='deleteManyEntry()'> Delete Many </a>

</div>

<div *ngIf ='$entriesLength > 0'>

<table class ='entries'>

	<caption class ='bold left'> Entries </caption>

	<colgroup>

		<col class =''>
		<col class =''>
		<col class =''>
		<col class =''>
		<col class =''>
		<col class =''>		
		<col class =''>
		<col class ='changes'>

	</colgroup>

	<thead>

		<tr>
			<th class ='bold center index-2'> Index </th>
			<th class ='bold center'> Unique Number </th>
			<th class ='bold center'> Username </th>
			<th class ='bold center'> Password </th>
			<th class ='bold center'> Date Created </th>
			<th class ='bold center secondary-key'> Secondary Keys </th>
			<th class ='bold left'> Changes </th>
		</tr>

	</thead>

	<tbody>

		<tr *ngFor ='let entry of entries , let i = index , trackBy : trackById'>

			<td class ='center'> {{i + 1}}. </td>

			<ng-template #nilValue>

				<td class ='center'> Nil </td>

			</ng-template>
			
			<td class ='center' *ngIf ='entry?._id; else nilValue'> {{entry?._id}} </td>

			<td class ='center' *ngIf ='entry?.requestUsername; else nilValue'> {{entry?.requestUsername}} </td>

			<td class ='center' *ngIf ='entry?.requestPassword; else nilValue'> {{entry?.requestPassword}} </td>

			<td class ='center' *ngIf ='entry?.createdAt; else nilValue'> {{entry?.createdAt | date : 'longDate'}} </td>

			<td class ='center' *ngIf ='entry?.secondaryKey; else nilValue'> {{entry?.secondaryKey}} </td>
						
			<td class =''>

				<a class ='center changes-option' [routerLink] ='["../" , "entry" , "detail" , entry?._id]'>View</a>

				<a class ='center changes-option' [routerLink] ='["../" , "entry" , "update" , entry?._id]'>Update</a>
				
				<a class ='center changes-option'  [routerLink] ='["../" , "entry" , "delete" , entry?._id]'>Delete</a>

				<label *ngIf ='true' class='changes-mark'>

					<ng-container *ngIf ='esdl.length; else normalChecks' >

					<ng-container *ngFor ='let $ed of esdl'>

						<input [checked] ='$ed == entry?.num' type ='checkbox' #checked (click) ='addEntryToDeleteList(entry?.num , checked.checked , i)'>

				  	<span class='checkmark'> </span>

					</ng-container>

				</ng-container>

				<ng-template #normalChecks>

				  <input type ='checkbox' #checked  (click) ='addEntryToDeleteList(entry?.num , checked.checked , i)'>

				  <span class ='checkmark'> </span>

				 </ng-template>

				</label>
			
			</td>

		</tr>

		</tbody>

		<tfoot>

			<tr>
				<td></td>
			</tr>

			<tr>
				<td></td>
			</tr>

			<tr>

			<app-pagination *ngIf ='pageNumber' [entries-length] ='$entriesLength' [entry-ref] ='$entryRef' [page-number] ='pageNumber'> </app-pagination>

			</tr>

		</tfoot>

	</table>

</div>

<app-resource-unavailable id ='error' *ngIf ='error' [error] ='error' > </app-resource-unavailable>

</div>