<ng-container *ngIf ='!isLoggedIn'>

<div class ='get-started'>

	<h3> Get Started </h3>

	<a [routerLink] ='["signin"]'><img src ='/assets/images/in.png' class ='authentication' ></a>

	<a [routerLink] ='["signup"]' [routerLinkActiveOptions] = '{"exact" : true}' [routerLinkActive] ='"auth"' ><img src ='/assets/images/out.png' class ='authentication' ></a>

</div>

</ng-container>

<ng-container *ngIf ='isLoggedIn'>

<div id ='get-started-menu'>

<ul>

	<li class ='center'>

		<a [routerLink] ='["/account/" , "profile"]' class ='center'> View Profile </a>

	</li>

</ul>

</div>

	</ng-container>