	<h2> {{title}} </h2>

	<app-faculty-get-started></app-faculty-get-started>

<app-resource-unavailable *ngIf ='error' [error] ='error' ></app-resource-unavailable>

<div *ngIf ='faculty' id ='entry-view'>

	<div id ='entry-detail'>

	<table>

		<colgroup>

			<col class ='parameter'>
			<col class ='data'>

		</colgroup>

		<tbody>

			<ng-container *ngIf ='faculty._id'>

			<tr>

				<th class ='bold left'> Name : </th>
				<td> {{faculty._id}} </td>

			</tr>

		</ng-container>

			<ng-container *ngIf ='faculty.createdAt'>

			<tr>

				<th class ='bold left'> Created At : </th>
				<td> {{faculty.createdAt | date : 'fullDate'}} </td>

			</tr>

		</ng-container>

			<ng-container *ngIf ='faculty.updatedAt'>

			<tr>

				<th class ='bold left'> Updated At : </th>
				<td> {{faculty.updatedAt | date : 'fullDate'}} </td>

			</tr>

		</ng-container>

			<ng-container *ngIf ='faculty.secondaryKey'>

			<tr>

				<th class ='bold left'> Secondary Key : </th>
				<td> {{faculty.secondaryKey}} </td>

			</tr>

		</ng-container>

			<ng-container *ngIf ='faculty.shortCode'>

			<tr>

				<th class ='bold left'> Short Code : </th>
				<td> {{faculty.shortCode}} </td>

			</tr>

		</ng-container>

			<ng-container *ngIf ='faculty.num'>

			<tr>

				<th class ='bold left'> Number : </th>
				<td> {{faculty.num}} </td>

			</tr>

		</ng-container>

		</tbody>

	</table>

			<div class ='entry-options'>

				<h3> Entry Options </h3>

			<a href ='/faculty/entry/update/{{faculty.num}}' class ='entry-option center'> Faculty Update </a>

			<a href ='/faculty/entry/delete/{{faculty.num}}' class ='entry-option center'> Faculty Delete </a>

		</div>

</div>

</div>